@import '/styles/shared.css';

.sidebar {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 16rem;
	background-color: #252525;
	padding: 1rem;
	border-right: 1px solid var(--text-secondary);
}

.sidebar-header {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
	margin-bottom: 2rem;

	> h1 {
		font-weight: bold;
		font-size: 1.5rem;
	}
}

.sidebar-logo {
	color: var(--primary-color);
	stroke-width: 2.75;
	width: 3rem;
	height: 3rem;
}

.sidebar-pages {
	display: flex;
	flex-direction: column;
}

.sidebar-button {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 1rem;
	margin: 1px 0;
	color: var(--text-secondary);

	> svg {
		padding: 0 0.5rem;
	}

	> svg path {
		stroke: var(--text-secondary);
		stroke-width: 1.5;
	}
}

.sidebar-button.active {
	color: var(--primary-color);
	background-color: #39393b;
	font-weight: bold;

	> svg,
	> svg path {
		stroke: var(--primary-color);
		stroke-width: 2;
	}
}

.sidebar-button:hover {
	background-color: #39393b;
}
