@import '/styles/shared.css';

.search-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-form {
	display: flex;
	position: relative;
}

#search-input {
	padding: 0.5rem;
	border: 1px solid var(--text-primary);
	border-radius: 2rem;
	width: 24rem;
	font-size: 1.2rem;
	padding: 1rem;
	padding-right: 1rem;
	outline: none;
	text-align: center;
	background-color: transparent;
	color: var(--text-primary) !important;
}

#search-input::placeholder {
	color: var(--text-primary);
}

#search-button {
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding: 0.5rem 1rem;
	cursor: pointer;
	position: absolute;
	right: 0;
	height: 3.5rem;
	width: 3.5rem;
}

#search-loader {
	display: flex;
	justify-content: center;
	align-items: center;

	> svg {
		stroke: var(--primary-color);
		animation: var(--animation-spin);
	}
}

.search-headings {
	display: grid;
	grid-template-columns: 2fr 1fr 48px;
	padding: 0.5rem 1rem;
	opacity: 0.7;
	font-weight: 600;
	font-size: 0.9rem;
	border-bottom: 1px solid #6b7280;
	margin-bottom: 1rem;

	> .title {
		margin-left: 6rem;
		border-right: 1px solid #6b7280;
	}

	> .release {
		text-align: center;
	}
}

@media (max-width: 768px) {
	#search-input {
		width: 100%;
	}
	.search-headings {
		display: none;
	}
}
