<footer class="player">
	<audio
		id="audio"
		preload="none"
	></audio>
	<div class="player-ui">
		<div class="player-covernames">
			<img
				id="player-cover"
				class="player-cover"
			/>
			<div class="player-names">
				<p
					id="player-title"
					class="player-title"
				></p>
				<p
					id="player-artist"
					class="player-artist"
				></p>
			</div>
		</div>
		<div>
			<button
				id="player-toggle"
				class="toggle"
			>
				<img
					src="/assets/icons/play.svg"
					alt="play"
				/>
			</button>
		</div>
		<div></div>
	</div>
</footer>
