@import '/styles/shared.css';

.player {
	background-color: var(--background-color);
	border-top: 2px solid var(--primary-color);
	height: 4rem;
	flex-shrink: 0;
	padding: 1rem;
}

.player-ui {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	height: 100%;
}

.player-covernames {
	display: flex;
	gap: 1rem;
	justify-self: self-start;
}

.player-cover {
	aspect-ratio: square;
	height: 4rem;
}

.player-names {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;

	> .player-artist {
		font-size: 0.9rem;
		opacity: 0.7;
	}
}

.player-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6rem;
}

.player-buttons {
	display: flex;
	gap: 2rem;

	> button {
		display: flex;
		place-items: center;
	}
}

#player-repeat svg,
#player-shuffle svg {
	stroke: var(--text-primary);
}

#player-repeat.active svg,
#player-shuffle.active svg {
	stroke: var(--primary-color);
}

.player-progress-wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#player-progress {
	appearance: none;
	width: 20rem;
	height: 6px;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: background 0.2s ease-out;

	/* show fill up to --progress */
	background: linear-gradient(
		to right,
		var(--primary-color) var(--progress, 0%),
		var(--text-primary) var(--progress, 0%)
	);
}

/* chrome, safari, edge - remove thumb */
#player-progress::-webkit-slider-thumb {
	appearance: none;
	width: 0;
	height: 0;
}

/* firefox - remove thumb */
#player-progress::-moz-range-thumb {
	width: 0;
	height: 0;
	border: none;
	background-color: transparent;
}

#player-current-time,
#player-total-time {
	font-size: 0.85rem;
	color: var(--text-primary);
	width: 40px;
	text-align: center;
}

.player-end {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-end;
}

#player-volume-toggle {
	display: flex;
	justify-content: center;
	align-items: center;

	> svg {
		height: 1.2rem;
		width: 1.2rem;
		stroke: var(--text-secondary);
	}
}

#player-volume {
	appearance: none;
	width: 7rem;
	height: 5px;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: background 0.2s ease-out;

	/* show fill up to --progress */
	background: linear-gradient(
		to right,
		var(--text-secondary) var(--volume, 0%),
		var(--text-primary) var(--volume, 0%)
	);
}

/* chrome, safari, edge - remove thumb */
#player-volume::-webkit-slider-thumb {
	appearance: none;
	width: 0;
	height: 0;
}

/* firefox - remove thumb */
#player-volume::-moz-range-thumb {
	width: 0;
	height: 0;
	border: none;
	background-color: transparent;
}
