<section
	class="settings"
	data-page-section="settings"
>
	<header class="settings-header page-header">
		<h1>Settings</h1>
	</header>

	<div class="settings-layout">
		<!-- starting page -->
		<div class="settings-setting">
			<p>Starting Page</p>
			<select id="settings-starting-page">
				<option value="search">Search</option>
				<option value="liked">Liked</option>
				<option value="history">History</option>
				<option value="settings">Settings</option>
			</select>
		</div>

		<!-- primary color -->
		<div class="settings-setting">
			<p>Primary Color</p>
			<input
				type="color"
				id="settings-primary-color"
				value="#ff5656"
			/>
		</div>

		<!-- header colors -->
		<div class="settings-setting">
			<p>Header Colors</p>
			<div class="settings-header-colors">
				<label for="settings-header-color-1">Color 1</label>
				<input
					type="color"
					name="settings-header-color-1"
					id="settings-header-color-1"
				/>
				<label for="settings-header-color-2">Color 2</label>
				<input
					type="color"
					name="settings-header-color-2"
					id="settings-header-color-2"
				/>
			</div>
		</div>
	</div>
</section>
