<section
	class="settings"
	data-page-section="settings"
>
	<header class="settings-header page-header">
		<h1>Settings</h1>
	</header>

	<div>
		<div class="settings-setting">
			<p>Starting Page</p>
			<select
				name="starting-page-select"
				id="settings-starting-page-select"
			>
				<!-- hardcoded by now, can be scaled in js with mapping -->
				<option value="search">Search</option>
				<option value="liked">Liked</option>
				<option value="history">History</option>
				<option value="settings">Settings</option>
			</select>
		</div>
	</div>
</section>
