@import '/styles/shared.css';

.track {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
}

.track:hover {
	background-color: var(--primary-color);
}

.track.active {
	background-color: var(--primary-color);
}

.covernames {
	display: flex;
	max-height: 3rem;
	flex: 1;
	min-width: 0;
	align-items: center;
}

.track-index {
	font-size: 0.9rem;
	opacity: 0.7;
	aspect-ratio: square;
	width: 0.9rem;
}

.track-toggle {
	padding: 0 !important;
	display: flex;
	place-items: center;
	> img {
		aspect-ratio: square;
		height: 0.9rem;
	}
}

.track-cover {
	height: 3rem;
	aspect-ratio: square;
	border-radius: 0.5rem;
	margin: 0 1rem;
}

.names {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	min-width: 0;

	> .track-title,
	.track-artist {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	> .track-artist {
		font-size: 0.9rem;
		opacity: 0.7;
	}
}

.track-date {
	opacity: 0.7;
	text-align: center;
	font-size: 0.9rem;
}
