@import '/styles/shared.css';

.track {
	display: grid;
	grid-template-columns: 2fr 1fr 3rem;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
	border: 1px solid transparent;
}

.track:hover {
	border: 1px solid var(--primary-color);
}

.track.active {
	border: 1px solid var(--primary-color);
}

.track-covernames {
	display: flex;
	max-height: 3rem;
	flex: 1;
	min-width: 0;
	align-items: center;
}

.track-index {
	font-size: 0.9rem;
	opacity: 0.7;
	aspect-ratio: square;
	width: 20px;
	text-align: center;
}

.track-toggle {
	padding: 0 !important;
	display: flex;
	place-items: center;
	background-color: transparent;

	> img {
		aspect-ratio: square;
		height: 0.9rem;
	}
}

.track-cover {
	height: 3rem;
	aspect-ratio: square;
	border-radius: 0.5rem;
	margin: 0 1rem;
}

.track-names {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	min-width: 0;

	> .track-title,
	.track-artist {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	> .track-artist {
		font-size: 0.9rem;
		opacity: 0.7;
	}
}

.track-release {
	> .track-date {
		opacity: 0.7;
		text-align: center;
		font-size: 0.9rem;
	}
}

.track-like .heart-icon path {
	fill: none;
	stroke: var(--text-color);
	stroke-width: 1.5px;
}

.track-like.liked .heart-icon path {
	fill: var(--primary-color);
	stroke: none;
}
