@import './shared.css';

body {
	/* disabling text section */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

select {
	background-color: transparent;
	border: none;
	font-size: 1rem;
	color: var(--text-primary);
	cursor: pointer;
	outline: none;

	option {
		background-color: var(--background-color);
	}
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--text-primary);
}

#layout {
	display: flex;
	flex: 1;
	overflow: hidden;
}

#main {
	flex: 1;
	padding: 1rem;
	background-color: var(--background-color);
	overflow-y: auto;
	scrollbar-width: none;
	word-break: break-all;
}

.hidden {
	display: none !important;
}

.page-header {
	height: 16rem;
	display: flex;
	align-items: end;
	padding: 1rem;
	background: #56ff9f;
	background: radial-gradient(
		circle,
		var(--header-color-1) 0%,
		var(--header-color-2) 100%
	);
	margin: -1rem -1rem 2rem -1rem;
	box-shadow: 0 -10rem 16rem var(--background-color) inset;
	> h1 {
		font-size: 3rem;
		font-weight: 800;
	}
}
