:root {
	--primary-color: #ff5656;
	--background-color: #1f1f1f;
	--text-primary: #f6f6f6;
	--text-secondary: #6b7280;
	--animation-spin: spin 1s linear infinite;
	--header-color-1: #56ff9f;
	--header-color-2: #5656ff;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
